<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basic Jinja</title>
</head>
<body>
    <p>Some basic jinja things</p>
    <p>hi, {{ name }}, and your email is: {{ email }}</p>

     <p>A list of numbers are below</p>
    {% for item in numbers %}
        {% if item==4 %}
            <p style="color:red">{{ item }}</p>
        {% else %}
            <p>{{ item }}</p>
        {% endif %}
    {% endfor %}

    <p>A list of numbers are below (inline if else)</p>
    {% for item in numbers %}
        <p {% if item==4 %} style="color:red"{% endif %}>{{ item }}</p>
    {% endfor %}

    <p>Using filters</p>
    <ul>
        <li> actual value: {{ name }} </li>
        <li> upper: {{ name | upper }} </li>
        <li> lower: {{ name | lower }} </li>
        <li> title: {{ name | title }} </li>
        <li> actual value: {{ name | replace('h','H') }} </li>
        <li> actual value: {{ name | repeat }} </li>
        <li> actual value: {{ name | repeat(5) }} </li>
    </ul>
</body>
</html>